.addForm {
	position: relative;
	margin: 30px;
}

.code {
	position: relative;
	margin: 20px;
	height: fit-content;
	width: fit-content;
	padding-right: 50px;
	border: 1px groove gray;
	border-radius: 5px;
}

.code button {
	position: absolute;
	top: 0;
	right: 0;
}

.submit-buttons {
	display: flex;
	margin-top: 50px;
	margin-left: 40%;
}

.submit-buttons button {
	margin-left: 20px;
}

.image-uploader > div {
	display: flex;
	align-items: center;
}

.image-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 150px;
	margin: 20px;
	border: 1px dotted rgb(41, 40, 40);
	border-radius: 10px;
}

.image-preview img {
	width: 100%;
	height: fit-content;
	overflow: hidden;
}

.input-area {
	position: relative;
	width: 100%;
}

.left {
	width: 60%;
	display: inline-block;
	border-right: 2px solid blue;
}

.right {
	position: absolute;
	width: 40%;
	top: 0;
	left: 60%;
}

.input-group {
	min-height: 50px;
	margin-left: 50px;
	width: 80%;
	display: flex;
	margin-top: 20px;
}

.input-group > label {
	display: inline-block;
	width: 100px;
	min-width: 100px;
}

.input-group > label::before {
	border: 2px solid blue;
	content: "";
	margin-right: 10px;
}

.problem-input {
	display: block;
	width: inherit;

	margin-top: 20px;
}

.problem-text-preview {
	margin-left: 10px;
}
