.card {
	display: inline-block;
	background-color: rgb(239, 222, 243);
	width: 40vw;
	height: auto;
	margin: 50px;
	border-radius: 10px;
	border: 1px solid transparent;
}

.card:hover {
	border-color: salmon;
	scale: 1.01;
	cursor: grab;
}

.card header {
	font-size: 15px;
	padding: 10px;
	border-bottom: solid;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

	background-color: rgb(183, 231, 232);
}

.card-content {
	display: flex;
	padding: 10px;
	font-size: 10px;
}

.card-content > p {
	height: 100%;
	font-size: 10px;
	color: gray;
}

.card-content ol {
	padding-left: 15px;
}

.img-box {
	position: relative;
	/* width: calc(min(30%,20vh)); */
	width: 30%;
}

.img-box img {
	display: flex;
	width: 100%;
	height: 100%;
}
