.problem {
	margin-top: calc(min(30px, 10%));
	margin-left: calc(min(50px, 10%));
}

.problem header::before {
	border: 2px solid blue;
	content: "";
	margin-right: 10px;
}

.problem header {
	display: inline;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.problem > p {
	padding-left: 10px;
	font-size: 15px;
}

.image {
	width: calc(max(20vw, 100px));
}

.image:hover {
	border: 1px dotted blue;
	border-radius: 5px;
}

.image img {
	width: 100%;
	height: auto;
}

.buttonGroup {
	display: inline;
	margin-left: 20px;
}

.subQuestionNo {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	border: 1px groove;
	margin-left: 10px;
}
