body {
	margin: 0px;
}

#header {
	display: flex;
	align-items: center;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid rgb(197 211 255 / 98%);
	box-shadow: 1px 1px 5px rgb(197 211 255 / 98%);
}

#header a {
	margin-left: 20px;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}
#header img {
	height: 80%;
	border-radius: 50%;
}

ol > li.hide {
	height: 0px;
	overflow: hidden;
}
