body {
	margin: 0px;
}

#header {
	display: flex;
	position: relative;
	align-items: center;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid rgb(197 211 255 / 98%);
	box-shadow: 1px 1px 5px rgb(197 211 255 / 98%);
}

#header a {
	margin-left: 20px;
	height: 100%;
	width: fit-content;
	display: flex;
	align-items: center;
	text-decoration: none;
}
#header img {
	height: 80%;
	border-radius: 50%;
}

#header menu {
	margin-left: 10px;
	list-style-type: none;
	display: flex;
}

#header menu a.active {
	border-bottom: 5px solid brown;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

#header-toggle-icon {
	position: relative;
	margin: 0px;
	width: 100%;
	display: flex;
	justify-content: center;
}

ol > li.hide {
	height: 0px;
	overflow: hidden;
}
